@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap");

body {
  color: #121212;
  font-family: "Outfit", sans-serif;
  background-color: #f9ffe7;
}
.container {
  max-width: 1440px;
  padding: 2rem;
}

.spacer {
  width: 100%;
  height: 30vh;
}

.arch {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  max-width: 1100px;
  margin-inline: auto;
}

.arch__left {
  display: flex;
  flex-direction: column;
  min-width: 300px;

  .arch__info {
    max-width: 356px;
    height: 100vh;
    display: grid;
    place-items: center;

    h2.header {
      font-family: Outfit;
      font-size: 42px;
      font-weight: 800;
      letter-spacing: -0.84px;
    }

    p.desc {
      color: rgba(18, 18, 18, 0.8);
      font-size: 18px;
      letter-spacing: -0.54px;
      margin-block: 6px 28px;
      line-height: normal;
    }

    a.link {
      text-decoration: none;
      padding: 16px 18px;
      color: inherit;
      border-radius: 40px;
      display: flex;
      gap: 4px;
      width: fit-content;
      align-items: center;
    }
  }
}

.arch__right {
  flex-shrink: 1;
  height: 100vh;
  width: 100%;
  max-width: 540px;
  position: relative;
  display: flex;
  flex-direction: column;

  .img-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 400px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;

    img {
      /*       border: 1px solid red; */
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (max-width: 900px) {
  .arch {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .arch {
    flex-direction: column;
    gap: 20px;
  }

  .arch__left,
  .arch__right {
    display: contents;
  }

  .arch__right {
    height: auto;
    max-width: 100%;
  }

  .arch__right .img-wrapper {
    position: static;
    transform: none;
    height: 360px;
    width: 100%;
    margin-bottom: 20px;
  }

  .arch__left .arch__info {
    height: auto;
    padding: 20px 0;
  }
}

@media (max-width: 560px) {
  .arch {
    gap: 12px;
  }

  .container {
    padding: 10px;
  }

  .arch__right .img-wrapper {
    border-radius: 10px;
    height: 280px;
  }
}

.inp {
  text-decoration: none;
  padding: 20px;
  margin: 0;
  background: transparent;
  margin-top: 20px;
}
#submit-btn{
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #121212;
    color: #f9ffe7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* card */
* {
  box-sizing: border-box;
}

body {
  font-family: "Signika Negative", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #1d1e22;
  color: #23272a;
  font-size: var(--step-0);
  line-height: 1.34;
  overflow: hidden;
  --one: hsl(192deg 40% 43%);
  --two: hsl(268deg 45% 46%);
  --three: hsl(268deg 45% 42%);
  --four: hsl(192deg 40% 43%);
  --five: hsl(356deg 80% 25%);
}

h1,
h2 {
  margin: 0;
}

p {
  margin-top: 0.75em;
  color: #4c4c52;
}

a {
  color: #61ac27;
  font-weight: bold;
}

h1 {
  font-size: var(--step-2);
}

h2 {
  font-size: var(--step-1);
}

.content--open {
  display: none;
  max-width: 750px;
  margin: 0 auto;
}

.open .content--open {
  display: block;
}

.open .content--closed {
  display: none;
  visibility: hidden;
}

.card {
  position: relative;
  background: #fff;
  padding: var(--space-s-l);
  padding-top: 80px;
  width: 90vw;
  max-width: 580px;
  border-radius: 16px;
  margin-top: 120px;
  cursor: pointer;
}

.flipping.card {
  max-width: unset;
}

.open .card {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  height: 40vh;
  padding: var(--space-s-xl);
  padding-top: 90px;
}

@media only screen and (max-width: 600px) {
  .open .card {
    height: 65vh;
    padding-top: 75px;
  }

  .card {
    padding-top: 65px;
  }
}
.gift-container {
  position: absolute;
  bottom: calc(100% - 120px);
  z-index: 3;
  opacity: 0;
  left: calc(50% - 125px);
}

.open .gift-container {
  left: 8rem;
}

.bottom {
  --width: 20;
  --height: 15;
  --depth: 20;
}

.top {
  --width: 22;
  --height: 5;
  --depth: 22;
}

/* mad props to Jhey for this article
https://css-tricks.com/css-in-3d-learning-to-think-in-cubes-instead-of-boxes/ */
.plane {
  height: 250px;
  width: 250px;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(314deg) rotateX(90deg) translate3d(0, 0, 0);
  --size: 8px;
}

@media only screen and (max-width: 600px) {
  .plane {
    --size: 5px;
  }

  .gift-container {
    bottom: calc(100% - 150px);
    left: calc(50% - 125px);
  }

  .open .gift-container {
    left: -2rem;
  }
}
.box > div {
  background: linear-gradient(to right, var(--three), var(--three) 42%, var(--one) 42%, var(--one) 58%, var(--three) 58%);
}

.top {
  transform: translate3d(0, 0, calc(8 * var(--size)));
}

.top > div:nth-of-type(5) {
  background: linear-gradient(to bottom, transparent, transparent 42%, var(--one) 42%, var(--one) 58%, transparent 58%), linear-gradient(to right, var(--two), var(--two) 42%, var(--one) 42%, var(--one) 58%, var(--two) 58%);
}

.bottom > div:nth-of-type(5) {
  background: transparent;
}

.bottom > div:nth-of-type(2),
.bottom > div:nth-of-type(4) {
  background: #422e61;
  border: solid 0.2px #341d1d;
  z-index: -200;
}

.box {
  height: calc(var(--depth) * var(--size));
  width: calc(var(--width) * var(--size));
  transform-style: preserve-3d;
  position: absolute;
  font-size: 1rem;
}

.box > div:nth-of-type(1) {
  height: calc(var(--height) * var(--size));
  width: 100%;
  transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-90deg) translate3d(0, 0, calc((var(--depth) / 2) * var(--size)));
  background: linear-gradient(to right, var(--three), var(--three) 42%, var(--one) 42%, var(--one) 58%, var(--three) 58%);
}

.box > div:nth-of-type(2) {
  height: calc(var(--height) * var(--size));
  width: 100%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotateX(-90deg) rotateY(180deg) translate3d(0, 0, calc((var(--depth) / 2) * var(--size)));
  position: absolute;
  top: 50%;
  left: 50%;
}

.box > div:nth-of-type(3) {
  height: calc(var(--height) * var(--size));
  width: calc(var(--depth) * var(--size));
  transform: translate(-50%, -50%) rotateX(-90deg) rotateY(90deg) translate3d(0, 0, calc((var(--width) / 2) * var(--size)));
  position: absolute;
  top: 50%;
  left: 50%;
}

.box > div:nth-of-type(4) {
  height: calc(var(--height) * var(--size));
  width: calc(var(--depth) * var(--size));
  transform: translate(-50%, -50%) rotateX(-90deg) rotateY(-90deg) translate3d(0, 0, calc((var(--width) / 2) * var(--size)));
  position: absolute;
  top: 50%;
  left: 50%;
}

.box > div:nth-of-type(5) {
  height: calc(var(--depth) * var(--size));
  width: calc(var(--width) * var(--size));
  transform: translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * var(--size)));
  position: absolute;
  top: 50%;
  left: 50%;
}

.box > div:nth-of-type(6) {
  height: calc(var(--depth) * var(--size));
  width: calc(var(--width) * var(--size));
  transform: translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * var(--size) * -1)) rotateX(180deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

.top > div:nth-of-type(6) {
  background: transparent;
}

.confetti {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 48%;
  top: 40%;
  z-index: 1;
}

.confetti-cont {
  width: 100px;
  height: 100px;
  transform: rotate(312deg) rotateY(181deg) rotateX(72deg) translate3d(0, 0, 4px);
}

.letters {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  bottom: 50%;
}

.letter {
  text-align: center;
  color: black;
  font-size: 15vmin;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
}

.F {
  background: #428899;
}

.l {
  background: #386ab5;
}

.i {
  background: #683b9c;
}

.p {
  background: #424d9f;
}

.for,
.gsap {
  display: none;
  color: white;
  font-size: 5vmin;
}

.for {
  padding: 2px 1.6vmin;
  font-weight: 300;
}

.gsap {
  padding: 2px 0;
  font-weight: 600;
}

.open {
  align-items: flex-start;
}

.open .for,
.open .gsap {
  display: block;
  z-index: -4;
}

.letters {
  z-index: -3;
}

.gift-container > .letters {
  position: absolute;
  transform: scale(0.2);
}
.gift-container > .letters .letter {
  opacity: 0;
}

.open > .letters {
  margin-top: 5vh;
  height: 40vh;
  margin-left: 3rem;
  opacity: 1;
  transform: scale(1);
}

.logo {
  position: fixed;
  width: 60px;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
}